{{define "charts"}}
<!DOCTYPE html>
<html lang="en">
{{template "html-head" "Decred Charts"}}
<body>

    {{template "navbar"}}

    <style type="text/css">
      .dygraph-legend {
        padding: 4px !important;
        border: 1px solid #000;
        border-radius: 5px;
        pointer-events: none;
        width: fit-content;
      }
      .dygraph-rangesel-bgcanvas {
        z-index: 0 !important;
      }
      .dygraph-rangesel-fgcanvas {
        z-index: 0 !important;
      }
      .dygraph-rangesel-zoomhandle {
        z-index: 0 !important;
      }
    </style>

    <div class="container" style="font-size:0.8em;">
        <div id="graphdiv" style="width:900px; height:250px; margin:0 auto;"></div>
        <br>
        <div id="graphdiv1" style="width:900px; height:250px; margin:0 auto;"></div>
        <br>
        <div id="graphdiv2" style="width:900px; height:250px; margin:0 auto;"></div>
        <br>
        <div id="graphdiv3" style="width:900px; height:250px; margin:0 auto;"></div>
        <br>
        <div id="graphdiv4" style="width:900px; height:250px; margin:0 auto;"></div>
        <br>
        <div id="graphdiv5" style="width:900px; height:250px; margin:0 auto;"></div>
        <br>
        <div id="graphdiv6" style="width:900px; height:250px; margin:0 auto;"></div>
        <br>
        <div id="graphdiv7" style="width:900px; height:250px; margin:0 auto;"></div>
        <br>
        <div id="graphdiv8" style="width:900px; height:250px; margin:0 auto;"></div>
    </div>

    {{ template "footer" . }}
    

    <script type="text/javascript">
        var data = {{.Data}};
        var ticketsPrice = data[0]  // TicketsPriceByHeight
        var coinSupply = data[1]    // CoinSupply
        var ticketsPool = data[2];  // BlockTicketsPoolValue
        var txPerDay = data[3];     // TxPerDay
        var poolInfo = data[4];     // PoolValueAndSize

        var tickets_price = "";
        var difficulty_data = "";
        var pool_size = "";
        var pool_value = "";
        var blockchain_size = "";
        var block_size = "";
        var tx_per_block = "";
        var tx_per_day = "";
        var coin_supply = "";

        for (i =0; i < ticketsPrice.length; i++) {
            item = ticketsPrice[i]
            tickets_price = tickets_price.concat(item.Time, ", ", item.Value/100000000, "\n");
            difficulty_data = difficulty_data.concat(item.Time, ", ", item.SizeFloat, "\n");
        }

        var supply = 0;
         for (i=0; i < coinSupply.length; i++) {
            item = coinSupply[i]
            supply = supply + (item.Value/100000000)
            coin_supply = coin_supply.concat(item.Time, ", ", supply, "\n");
        }

        var size = 0;
        for (i =0; i < ticketsPool.length; i++) {
            item = ticketsPool[i]
            block_size = block_size.concat(item.Time, ", ", item.Size, "\n" );
            size = size + item.Size
            blockchain_size = blockchain_size.concat(item.Time, ", ", size,"\n" );
            tx_per_block = tx_per_block.concat(item.Time, ", ", item.Count,"\n" );
        }

        for (i = 0; i < txPerDay.length; i++){
            item = txPerDay[i]
            tx_per_day = tx_per_day.concat(item.Time, ", ", item.Count,"\n" );
        }

        for (i=0; i <poolInfo.length; i ++) {
            item = poolInfo[i]
            pool_size = pool_size.concat(item.Time, ", ", item.SizeFloat, "\n" );
            pool_value = pool_value.concat(item.Time, ", ", item.PoolValue, "\n" );
        }

        new Dygraph(
            document.getElementById("graphdiv"),
            tickets_price,
            {   
                labels: ["Date", "Price"], 
                drawPoints: true,
                digitsAfterDecimal: 8,
                showRangeSelector: true,
                ylabel: 'Price (Decred)',
                legend: "follow",
                labelsSeparateLines: true,
                title: 'Ticket Price Chart'
            });

        new Dygraph(
            document.getElementById("graphdiv1"),
            pool_size,
            {
                labels: ["Date", "Ticket Pool Size"],
                digitsAfterDecimal: 8,
                drawPoints: true,
                showRangeSelector: true,
                ylabel: 'Ticket Pool Size',
                legend: "follow",
                labelsKMB: true,
                labelsSeparateLines: true,
                title: 'Ticket Pool Size Chart'
            });

        new Dygraph(
            document.getElementById("graphdiv2"),
            pool_value,
            {   
                labels: ["Date", "Ticket Pool Value"],
                digitsAfterDecimal: 8,
                drawPoints: true,
                showRangeSelector: true,
                ylabel: 'Ticket Pool Value',
                legend: "follow",
                labelsKMB: true,
                labelsSeparateLines: true,
                title: 'Ticket Pool Value Chart'
            });

        
        new Dygraph(
            document.getElementById("graphdiv3"),
            block_size,
            {
                labels: ["Date", "Block Size"],
                digitsAfterDecimal: 8,
                drawPoints: true,
                showRangeSelector: true,
                ylabel: 'Block Size',
                legend: "follow",
                labelsKMG2: true,
                labelsSeparateLines: true,
                title: 'Average Block Size Chart'
            });

        new Dygraph(
            document.getElementById("graphdiv4"),
            blockchain_size,
            {
                labels: ["Date", "BlockChain Size"],
                digitsAfterDecimal: 8,
                drawPoints: true,
                showRangeSelector: true,
                ylabel: 'BlockChain Size',
                legend: "follow",
                labelsKMG2: true,
                labelsSeparateLines: true,
                title: 'BlockChain Size Chart'
            });

        new Dygraph(
            document.getElementById("graphdiv5"),
            tx_per_block,
            {
                labels: ["Date", "Number of Transactions Per Block"],
                digitsAfterDecimal: 8,
                drawPoints: true,
                showRangeSelector: true,
                ylabel: 'Number of Transactions',
                legend: "follow",
                labelsSeparateLines: true,
                title: 'Number of Transactions Per Block Chart'
            });

        new Dygraph(
            document.getElementById("graphdiv6"),
            tx_per_day,
            {
                labels: ["Date", "Number of Transactions Per Day"],
                digitsAfterDecimal: 8,
                drawPoints: true,
                showRangeSelector: true,
                ylabel: 'Number of Transactions',
                legend: "follow",
                labelsSeparateLines: true,
                labelsKMB: true,
                title: 'Number of Transactions Per Day Chart'
            });

        new Dygraph(
            document.getElementById("graphdiv7"),
            difficulty_data,
            {
                labels: ["Date", "Difficulty"],
                digitsAfterDecimal: 8,
                drawPoints: true,
                legend: "follow",
                showRangeSelector: true,
                ylabel: 'Difficulty',
                title: 'PoW Difficulty Chart',
                labelsSeparateLines: true,
                labelsKMB: true
            });

        new Dygraph(
            document.getElementById("graphdiv8"),
            coin_supply,
            {
                labels: ["Date", "Coin Supply"],
                digitsAfterDecimal: 8,
                drawPoints: true,
                legend: "follow",
                showRangeSelector: true,
                ylabel: 'Coin Supply',
                title: 'Total Coin Supply Chart',
                labelsSeparateLines: true,
                labelsKMB: true
            });
    </script>
</body>
</html>
{{end}}
